<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>HostGrotesk-Black.ttf</string>
		<string>HostGrotesk-BlackItalic.ttf</string>
		<string>HostGrotesk-Bold.ttf</string>
		<string>HostGrotesk-BoldItalic.ttf</string>
		<string>HostGrotesk-Italic.ttf</string>
		<string>HostGrotesk-Light.ttf</string>
		<string>HostGrotesk-LightItalic.ttf</string>
		<string>HostGrotesk-Medium.ttf</string>
		<string>HostGrotesk-MediumItalic.ttf</string>
		<string>HostGrotesk-Regular.ttf</string>
	</array>
</dict>
</plist>
